---

import Header from '../components/Header.astro'
import '@fontsource-variable/onest'

 interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="fixed top-0 left-0 z-[-2] w-full min-h-full bg-[#000000]
    bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
</div>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html{
		font-family: "Onest Variable", system-ui, sans-serif;
	}
	body {
			display: flex;
			height: 100vh;
			background: #050505;
			flex-direction: column;
	}

	@keyframes marquee {
  
		0% {
    transform: translateX(20%);
  } 50% {
	transform: translateX(25%);
  }
  75% {
    transform: translateX(35%);
  } 100% {
	transform: translateX(25%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite 2s;
}
</style>
